body.sign-in-body {
    
    background-image: url(assets/005746_christian-bothner_wwwnordnorgecom_moskenes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}


.container.sign-in-container {
    
    margin-top: 6%;
}

.card.login-card {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    opacity: .7;
    padding-bottom: 6%;
    padding-top: 2%;
}

img.sign-logo {
    height:30%;
    width:30%;
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    opacity: 1;
}

h1.introxd {
    
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    margin-bottom: 25px;
}

form.signform {
    
    max-width: 330px;
    margin:auto;
}

.card-block {
    
    padding:2px;
}

button.signinbtn {
    color:white;
    background-color: #d64829;
    width: 100%;
    margin:auto;
    display:block;
    margin-bottom: 1.2rem;
    
}

a.crtlink {
    color:white;
    text-shadow: 1px 1px black;
    font-size:1.2rem;
    display:block;
    text-align: center;
    margin-top: 15px;
}